<div class="row">
    <div class="col-md-12 pd-left-0 pd-right-0">
        <ol class="breadcrumb">
            <li><a href="#">车票管理</a></li>
            <li class="active">订单管理</li>
        </ol>
    </div>
</div>
<div class="row row-module">
    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>车次</th>
                <th>乘客</th>
                <th>出发地</th>
                <th>目的地</th>
                <th>出发日期</th>
                <th>备注</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order : ${orders}">
                <td th:text="${order.trainNo}"></td>
                <td th:text="${order.name}"></td>
                <td th:text="${order.departure}"></td>
                <td th:text="${order.destination}"></td>
                <td th:text="${#dates.format(order.departureDate,'YYYY-MM-dd HH:mm')}"></td>
                <td><a href="#" th:attr="id=${order.id}" onclick="cancelBooking(this)">取消预订</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>