<div class="row">
    <div class="col-md-12 pd-left-0 pd-right-0">
        <ol class="breadcrumb">
            <li><a href="#">车票管理</a></li>
            <li class="active">车票预订</li>
        </ol>
    </div>
</div>
<div class="row row-module">
    <div class="col-md-12">
        <form class="form-inline" id="query-ticket-form">
            <div class="form-group">
                <label for="departure">出发地</label>
                <input type="text" class="form-control" name="departure" id="departure" placeholder="出发地"/>
            </div>
            <div class="form-group">
                <label for="destination">目的地</label>
                <input type="text" class="form-control" name="destination" id="destination" placeholder="目的地"/>
            </div>
            <div class="form-group">
                <label for="begin">出发时间</label>
                <input type="text" class="form-control" name="begin" id="begin" placeholder="出发日期"/>
            </div>
            <button type="button" class="btn btn-default" onclick="queryTicket()">余票查询</button>
        </form>
    </div>
</div>
<div class="row row-module">
    <div class="col-md-12" id="result">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>车次</th>
                <th>软卧</th>
                <th>硬卧</th>
                <th>软座</th>
                <th>硬座</th>
                <th>无座</th>
                <th>备注</th>
            </tr>
            </thead>
        </table>
    </div>
</div>